{%- extends 'MapbenderDataManagerBundle:Element:DataManager.html.twig' -%}
{%- block table_buttons -%}
    <button type="button"
            class="-fn-copy btn btn-default"
            title="{{ 'mb.digitizer.feature.clone.title' | trans }}"><i class="fa fas fa-copy"></i></button>
    {#- eat whitespace -#}
    <button type="button"
            class="-fn-edit-style btn btn-default"
            title="{{ 'mb.digitizer.feature.style.change' | trans }}"><i class="fa fas fa-eyedropper fa-eye-dropper"></i></button>
    {#- eat whitespace -#}
    <button type="button"
            class="-fn-toggle-visibility btn btn-default"
            title="{{ 'mb.digitizer.feature.visibility.toggleoff' | trans }}"><i class="fa far fa-eye"></i></button>
    {{- block('edit_button') -}}
    <button type="button"
            class="-fn-save btn btn-success"
            title="{{ 'mb.digitizer.feature.save.title' | trans }}"><i class="fa fas fa-save"></i></button>
    {{- block('delete_button') -}}
{%- endblock -%}
{%- block toolset -%}
    <div class="form-group checkbox">
        <label><input type="checkbox" name="current-extent">{{ 'mb.digitizer.toolset.current-extent' | trans }}</label>
    </div>
    {{- parent() -}}
{%- endblock -%}
{%- block toolset_buttons -%}
    {{- parent() -}}
    <button type="button"
            class="-fn-visibility-all btn btn-default"
            title="{{ 'mb.digitizer.toolset.hideAll' | trans }}"><i class="fa far fa-eye-slash"></i></button>
    <button type="button"
            class="-fn-visibility-all btn btn-default"
            data-visibility="1"
            title="{{ 'mb.digitizer.toolset.showAll' | trans }}"><i class="fa far fa-eye"></i></button>
    <button type="button"
            class="-fn-save-all btn btn-success"
            title="{{ 'mb.digitizer.toolset.saveAll' | trans }}"><i class="fa fas fa-save"></i></button>
{%- endblock -%}
{%- block toolset_groups -%}
    {{- parent() -}}
    <div class="btn-group btn-group-sm -js-drawing-tools">
    </div>
{%- endblock -%}
