{%- extends 'MapbenderDataManagerBundle:Element:DataManager.html.twig' -%}
{%- block table_buttons -%}
    <button type="button"
            class="-fn-copy btn btn-default"
            title="{{ 'mb.digitizer.feature.clone.title' | trans }}"><i class="fa fas fa-copy"></i></button>
    {#- eat whitespace -#}
    <button type="button"
            class="-fn-edit-style btn btn-default"
            title="{{ 'mb.digitizer.feature.style.change' | trans }}"><i class="fa fas fa-eyedropper fa-eye-dropper"></i></button>
    {#- eat whitespace -#}
    <button type="button"
            class="-fn-toggle-visibility btn btn-default"
            title="{{ 'mb.digitizer.feature.visibility.toggleoff' | trans }}"><i class="fa far fa-eye"></i></button>
    {{- block('edit_button') -}}
    <button type="button"
            class="-fn-delete btn btn-success"
            title="{{ 'mb.digitizer.feature.save.title' | trans }}"><i class="fa fas fa-save"></i></button>
    {{- block('delete_button') -}}
{%- endblock -%}

