<div class="elementForm defaultForm elementFormDigitizer">

  {% stylesheets filter="sass"
  "bundles/mapbenderdigitizer/sass/element/manager-edit.scss" %}
  <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
  {% endstylesheets %}

  <script language="JavaScript">
    $(function() {

      var winHeight = $(window).height();
      var popupContainer = $(".popupContainer.modal > .popup");
      popupContainer.css({
        'margin-top': 0,
        'width':      $(document).width(),
        'height':    winHeight - 10
      });

      var formHolder = $(".popupScroll > .popupSubContent", this);
      var form = $("> .contentItem", formHolder);
      var textarea = $("textarea", form);

        textarea.css("height", formHolder.height() - (form.height() - textarea.height()));
        CodeMirror.initTextAreaAsYaml(textarea[0]).setSize(textarea.width(), textarea.height());
        //        var yamlEditorElement = yy(( $("#elementForm > div > div.inputWrapper.code-yaml > div");
//        yamlEditorElement.animate({
//          height: $(window).height() - 285
//        }, 20);
    })
  </script>
  {{ form_label(form.title) }}{{ form_widget(form.title) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.schemes) }}{{ form_widget(form.configuration.schemes) }}
</div>
