<div class="elementForm defaultForm elementFormDigitizer">

  {% stylesheets filter="sass"
  "bundles/mapbenderdigitizer/sass/element/manager-edit.scss" %}
  <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
  {% endstylesheets %}

  <script language="JavaScript">
    $(function() {

      CodeMirror.initTextAreaAsYaml(document.getElementById("form_configuration_schemes"));

      // Resize popup and elements
      var popupContainer = $(".popupContainer.modal.show > .popup");
      var yamlEditorElement = $("#elementForm > div > div.inputWrapper.code-yaml > div");

      popupContainer.css('margin-top', 0);
      popupContainer.animate({
        width:  $(document).width(),
        height: $(window).height() - 10
      }, 350);

      yamlEditorElement.animate({
        height: $(window).height() - 285
      }, 350);
    })
  </script>
  {{ form_label(form.title) }}{{ form_widget(form.title) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.schemes) }}{{ form_widget(form.configuration.schemes) }}
</div>
